@page
@model Rephository.Pages.Photos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Photo[0].FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo[0].RelativePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo[0].CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo[0].Hash)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo[0].UploadDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo[0].IsArchived)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Photo) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RelativePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsArchived)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
